<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% block header %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="{{ url_for('static', filename='assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"
              rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}"
              rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='assets/global/plugins/bootstrap/css/bootstrap.min.css') }}"
              rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='assets/global/plugins/uniform/css/uniform.default.css') }}"
              rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link href="{{ url_for('static', filename='assets/global/css/components-md.css') }}" id="style_components"
              rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='assets/global/css/plugins-md.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ url_for('static', filename='assets/admin/layout4/css/layout.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ url_for('static', filename='assets/admin/layout4/css/themes/light.css') }}" id="style_color"
              rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='assets/admin/layout/css/custom.css') }}" rel="stylesheet"
              type="text/css"/>
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='website/favicon.ico') }}">
    {% endblock %}
</head>
<body>
{% block body %}

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
<script src="{{ url_for('static', filename='assets/global/plugins/respond.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/global/plugins/excanvas.min.js')}}"></script>
<![endif]-->
    <script src="{{ url_for('static', filename='assets/global/plugins/jquery.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/jquery-migrate.min.js') }}"
            type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{{ url_for('static', filename='assets/global/plugins/jquery-ui/jquery-ui.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/bootstrap/js/bootstrap.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/jquery.blockui.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/jquery.cokie.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/uniform/jquery.uniform.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"
            type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <script src="{{ url_for('static', filename='assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/admin/layout4/scripts/layout.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/admin/layout4/scripts/demo.js') }}"
            type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
        });
        function showMask() {
            $.blockUI({message: '<h2><img src="/static/images/ajax-loader.gif" >&nbsp&nbspJust a moment...</h2>'});
        }
        function unshowMask() {
            $.unblockUI();
        }
        // 去除字符串首尾空格
        function trimStr(str) {
            return str.replace(/(^\s*)|(\s*$)/g, "");
        }

        //判断当前字符串是否以str开始 先判断是否存在function是避免和js原生方法冲突，自定义方法的效率不如原生的高
        if (typeof String.prototype.startsWith != 'function') {
            String.prototype.startsWith = function (str) {
                return this.slice(0, str.length) == str;
            };
        }

        //判断当前字符串是否以str结束
        if (typeof String.prototype.endsWith != 'function') {
            String.prototype.endsWith = function (str) {
                return this.slice(-str.length) == str;
            };
        }
    </script>
    <!-- END JAVASCRIPTS -->
{% endblock %}
</body>
</html>